@media screen and (min-width: 480px) {
  header{
    width: 65vw;
  }

  .logo{
    flex-direction: row;
  }

  .logo *{
    margin-right: 5px;
    font-size: 26px;
  }
  
  h1.header-text{
    font-size: 30px;
  }

  .main-container{
    width: 60vw;
  }

  .main-container h4{
    font-size: 20px;
  }

  .convert-container{
    width: 60%;
    padding: 25px;
    border-radius: 10px;
  }

  .convert-container form{
    width: min-content
  }

  .convert-container input{
    width: 32em;
    height: 45px
  }

  .video-data{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 520px;
    border: solid white 1px;
    border-radius: 15px;
    font-size: 28px;
    opacity: .8;
  }

  .info-containers{
    display: flex;
    gap: 10px
  }

  .info{
    width: 80%;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 15px;
    padding: 5px 25px 25px 25px;
  }

  .info h2{
    text-align: left;
  }


}

