*{
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191919;
  color: white;
  margin: 0 0 50px 0;
}

.ancestor-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 60px;
  margin-bottom: 20px;
}

.menu{
  display: flex;
}

.logo{
  display: flex;
  flex-direction: column;
}

#logo-link{
  color: white;
  text-decoration: none;
}

.btns-container{
  display: flex;
  gap: 5px
}

.ghost-btn{
  height: 35px;
  padding: 0 10px 0 10px;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  background: transparent;
  opacity: .8;
}

.sign-in{
  opacity: 1;
}

.callToAction-btn{
  background-color: #0485ff;
  color: white;
  opacity: 1;
}

hr{
  width: 100vw;
}

.main-container{
  display: flex;
  justify-content: center;
  width: 85vw;
}

.video-data{
  flex-direction: column;
  gap: 15px;
  overflow-x: visible;
}

.header-text{
  text-align: center;
  font-size: 26px;
}

.convert-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #252525;
  padding: 20px;
  border-radius: 4px;
}

.convert-container form{
  background-color: #252525;
}

.convert-container h4{
  margin: 0;
}

.convert-button{
  width: 38px
}

form{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow-x: visible;
}

.URL-input {
  border-radius: 4px;
  width: 230px;
  height: 32px;
  padding-left: 7px;
  border: 1px solid #0485ff;
  background: #191919;
  color: white;
  outline: none;
}

.URL-input:focus {
  border:2px solid #0485ff;
}

.info-containers{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%
}

.info{
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.info h2{
  font-size: 20px;
  text-align: center;
}

.profile-btns-container{
  display: flex;
  gap: 20px;
  align-self: flex-start;
  padding-left: 20px;
  margin-top: 15px;
}

p{
  color: #9d9d9d;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border: solid white 1px;
  border-radius: 15px;
  font-size: 16px;
  opacity: .8;
}

.formats{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.format-button{
  height: 40px;
  border-radius: 3px;
  border: 1px solid #0485ff;
  background: #0485ff;
  color:white;
}

.format-url{
  text-decoration: none;
  color: white;
}

h1{
  margin: 10px;
  margin-bottom: 10px;
}

.personal-data-header{
  margin: 0 0 10px 0
}

.personal-data{
  width: 90vw
}

.table{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  border: solid 1px white;
}

.data-column{
  display: flex;
  flex-direction: column;
}

.data-column span{
  padding: 10px;
  width: 100px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  margin: 35% auto;
  padding: 20px;
  border: 1px solid white;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.reg-container{
  width: 80%;
  overflow-x: visible;
}

.main-reg-container{
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
}

.reg-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reg-header{
  text-align: center;
  margin-bottom: 20px;
}

.reg-input{
  border-radius: 3px;
  width: 100%;
  height: 36px;
  padding-left: 7px;
  border: 1px solid #0485ff;
  background-color: #191919;
  color: white;
  outline: none;
}

.error{
  border-color: red;
}

.error-message{
  text-align: center;
  color: red
}

.sign-in-link{
  color: #0485ff;
  align-self: flex-end;
}

.reg-btn{
  width: 100%;
  margin-top: 20px;
}