body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #191919;
  color: white;
  margin: 0 0 50px 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 50px;
}

.menu{
  display: flex;
}

.logo{
  display: flex;
  flex-direction: column;
}

.btns-container{
  display: flex;
  gap: 5px
}

.reg-btn{
  height: 35px;
  padding: 0 10px 0 10px;
  color: white;
  border: 1px solid white;
  background: transparent;
  opacity: .7;
}

.call-to-action{
  background-color: #0485ff;
  color: white;
  opacity: 1;
}

hr{
  width: 100vw;
}

.main-container{
  width: 80vw;
  padding: 0 20px 0 20px;
}

.header-text{
  text-align: center;
  font-size: 26px;
}

.convert-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background-color: #252525;
  padding: 20px;
  border-radius: 4px;
}

.convert-container h4{
  margin: 0;
}

form{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%
}

.URL-input {
  border-radius: 4px;
  width: 30em;
  height: 36px;
  padding-left: 7px;
  border: 1px solid #0485ff;
  background: #191919;
  color: white;
  outline: none;
}

.URL-input:focus {
  border:2px solid #0485ff;
}

.convert-button {
  height: 40px;
  width: 100px;
  border-radius: 3px;
  border: 1px solid white;
  background: #0485ff;
  color:white;
}

.info{
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.info h2{
  font-size: 20px;
  text-align: center;
}

p{
  color: #9d9d9d;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.thumbnail{
  width: 100%;
  margin-bottom: 15px;
}

.formats{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.format-button{
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgb(122, 111, 241);
  background: rgb(122, 111, 241);
  color:white;
}

.format-url{
  text-decoration: none;
  color: white;
}

