<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link 
    rel="stylesheet"
    href="{{ url_for('static',
    filename='styles.css') }}">

    <link 
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon">

    <link 
      rel="stylesheet"
      href="{{ url_for('static',
      filename='adaptive.css') }}">
  </head>
  <body>
    <header>
      <div class="logo">
        <span>YTMP4</span>
        <span>downloader</span>
      </div>
      
      <div class="btns-container">        
        <button onclick="location.href='/'" class="ghost-btn">Назад</button>
      </div>
    </header>
    
    
    <div class="reg-container">
      <h1 class="reg-header">Поменять пароль</h1>

      {{token}}

      <form 
      action="{{ url_for('change_password', token=token) }}"
      method="post"
      class="reg-form">
        <input type="email"
          placeholder="username/email"
          name="email"
          autocomplete="off"
          class="reg-input">
       
        <input
          type="password"
          placeholder="Новый пароль"
          name="new_password"
          autocomplete="off"
          class="reg-input">
          
        <input
          type="password"
          placeholder="Подтвердите пароль"
          name="confirm_password"
          autocomplete="off"
          class="reg-input">

        <button type="submit" class="ghost-btn reg-btn">Сохранить</button>
      </form>
    </div>
  </body>
</html>