<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YT Downloader</title>
  
    <link 
      rel="stylesheet"
      href="{{ url_for('static',
      filename='styles.css') }}">

    <link 
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>  
  
  <body>
    <header>
      <div class="logo">
        <span>YTMP4</span>
        <span>downloader</span>
      </div>

      <div class="btns-container">
        <button onclick="location.href='/sign-in'" class="ghost-btn callToAction-btn">Войти</button>
        <button onclick="location.href='/sign-up'" class="ghost-btn">Регистрация</button>
      </div>
    </header>

    <h1 class="header-text">Установщик YouTube видео и аудио</h1>

    <div class="convert-container main-container">
      <h4>Вставьте корректную ссылку на ютуб видео</h4>
      
      <form action="/download" method="post">  
        <input 
          class="URL-input"
          name="video_url"
          type="text"
          placeholder="Video URL e.g. https://www.youtube.com/watch?v=MtN1YnoL46Q">
        
          <button class="ghost-btn callToAction-btn" type="submit">Найти</button>
        </form>
    </div>

    <div class="info main-container">
      <h2>YouTube MP4/MP3</h2>
      <p>YouTube.com - крупнейшая платформа для обмена видео в 
        Интернете. Каждый день здесь появляются миллионы новых
        видео. Вы можете найти все виды видео, но YouTube не
        предлагает услугу БЕСПЛАТНОЙ загрузки этих видео.
      </p>

      <p>YTMP3 позволит вам скачать ваши любимые видео с YouTube 
        в виде MP3 (аудио) или MP4 (видео) файлов наиболее эффективным способом.
        Вы можете использовать YTMP3 на любом устройстве - он оптимизирован 
        для работы и на компьютерах и на мобильных устройствах
      </p>
    </div>

    <div class="info main-container">
      <h2>Как скачать видео или аудио</h2>
      <p>1. Откройте сайт YouTube.com и найдите видео, которое вы хотите загрузить.</p>
      <p>2. Скопируйте ссылку на это видео</p>
      <p>3. Откройте этот сайт и вставьте URL-адрес видео в конвертер. После этого вы
         сможете выбрать формат загрузки и его качество</p>
      <p>4. При нажатии на кнопку с выбранным форматом, вас перекинет на страницу с соответстующим 
        mp4/mp3 ресуром. Нажмите на 3 точки в правом нижнем углу и выберите "Скачать"</p>
      <p>5. Видео/Аудио скачано и будет доступно на вашем девайсе</p>
    </div>
  </body>
</html>

