<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link 
      rel="stylesheet"
      href="{{ url_for('static',
      filename='styles.css') }}">

    <link 
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon">
  </head>
  <body>
    <h1>Восстановление пароля</h1>

    <h3>Введите email аккаунта</h3>

    <div class="reg-container">
      <form action="/recovery" method="post" class="reg-form">
        <input 
          type="text"
          placeholder="username/email"
          name="email"
          autocomplete="nope"
          class="reg-input">

        <button type="submit" class="ghost-btn reg-btn">Отправить email</button>
      </form>
    </div>
  </body>
</html>